@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap');

/* Generic styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    height: 100%;
}

.container {
    height: auto;
    min-height: 100%;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    padding: 10px;
}

.main {
    padding-bottom: 200px;
}

.footer {
    display: inline-block;
    position: relative;
    margin-top: -200px;
    height: 200px;
    width: 100%;
    background-color: #ccb99f;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.page-heading {
    text-align: center;
    text-transform: uppercase;
    color: #523a28;
    width: 100%;
    background-color: rgba(248, 193, 117, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

.page-subheading {
    text-align: center;
    text-transform: capitalize;
    color: #523a28;
    width: 100%;
    background-color: rgba(115, 149, 46, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-small-subheading {
    text-align: center;
    text-transform: capitalize;
    color: #523a28;
    width: 100%;
    background-color: #ccb99f;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styling of header */
header {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

nav {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    letter-spacing: 3px;
    padding: 5px 10px 5px 10px;
    background-color: #ccb99f;
    text-transform: capitalize;
}

header h1 {
    color: #523a28;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

header h2 {
    color: #73952e;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #523a28;
}

a.highlight:hover {
    background-color: #73952e;
}

.active {
    border-bottom: 2px solid #523a28;
}

.table {
    display: flex;
    justify-content: center;
    border-spacing: 10px;
}

.table th {
    text-transform: capitalize;
    padding-bottom: 5px;
}

.table tr {
    text-align: center;
    text-transform: lowercase;
    color: #523a28;
}

.first-table-heading {
    text-align: left;
}

.images {
    width: 100%;
}

/* Styling of footer*/
footer h1 {
    color: #523a28;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

footer h2 {
    color: #73952e;
    letter-spacing: 2px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

footer address {
    text-align: center;
    font-style: normal;
    color: #523a28;
}

address>span {
    margin-left: 5px;
    margin-right: 5px;
}

footer i {
    font-size: 30px;
}

footer ul {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer li {
    list-style-type: none;
    display: inline-block;
}

.footer-media {
    color: #523a28;
    margin: 20px;
    text-align: center;
}

footer>p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #523a28;
    text-transform: capitalize;
}

/* Styling of section one, index page */
.

/* Styling of section three, index page */
.review {
    text-align: center;
    color: #523a28;
    padding: 5px;
}

/* Styling of section two, about page */
.about-us {
    padding: 5px;
}

/* Styling of section three, about page */
.find-us {
    text-align: center;
}

.location {
    font-style: normal;
    color: #523a28;
    padding-top: 10px;
    text-align: center;
}

/* Styling of section one, menu page */
.menu-image {
    width: 100%;
}

/* Styling of section two, menu page */
#cakes {
    width: 100%;
}

.cake-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cake-types {
    width: 40%;
    height: 50%;
    text-align: center;
    padding: 0 5px 5px 5px;
    color: #523a28;
    text-transform: lowercase;
}

.cake-types li {
    list-style-type: none;
}

/*Styling of section three, menu page*/


/* Styling of fieldset one in form in reserve page */
fieldset {
    text-align: left;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgba(115, 149, 46, 0.5);
    border: solid;
}

legend {
    background-color: rgba(248, 193, 117, 1);
    text-align: center;
}

label {
    font-size: 1em;
    vertical-align: middle;
    color: #523a28;
    display: inline-block;
    width: 150px;
}

input[type=text],
[type=number] {
    border: 1px solid #523a28;
    width: 35%;
}

input[type=email] {
    border: 1px solid #523a28;
    width: 50%;

}

input[type=date],
[type=time] {
    border: 1px solid #523a28;
    width: 25%
}

#guests {
    border: 1px solid #523a28;
}

fieldset p {
    font-size: 1em;
    vertical-align: middle;
    color: #523a28;
    display: inline-block;
    width: 200px;
}

/* Styling of fieldset two in form in reserve page */
fieldset.survey {
    text-align: left;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgba(115, 149, 46, 0.5);
    border: solid;
    position: relative;
    height: 250px;
}

.survey label {
    display: inline-block;
    vertical-align: middle;
}

.survey-questions {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    padding-top: 5px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
    ;
}

input[type=submit] {
    position: relative;
    font-size: 20px;
    left: 20%;
    top: 10%;
    text-transform: capitalize;
    background-color: rgba(248, 193, 117, 1);
    border: 3px solid #523a28;
    font-family: inherit;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;
    margin-top: 5%;
}