@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

/* Styling of header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 50px 20px 30px;
}

/* Styling of navigation items */
li { 
    display: inline;
    letter-spacing: 4px;
    word-spacing: 50px;
}

/* Styling of logo */
#logo {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 400%;
    color: #f8c175;
    letter-spacing: 5px;
}

/* Styling of sub-logo */
#sub-logo {
    color: #73952e;
}

/* Styling of links */
a {
    text-decoration: none;
    color: #73952e;
}

/* Styling of links using pseudo class */
a:hover {
    background-color: #f8c175;
}