@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
}

/* Styling of header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px;
}

/* Styling of navigation items */
nav li {
    display: inline;
    letter-spacing: 4px;
    word-spacing: 50px;
}

/* Styling of logo */
header h1 {
    font-weight: 500;
    font-size: 400%;
    color: #f8c175;
    letter-spacing: 5px;
}

/* Styling of sub-logo */
header h2 {
    color: #73952e;
    letter-spacing: 2px;
}

/* Styling of navigation links */
a {
    text-decoration: none;
    color: #523a28;
}

/* Styling of navigation links using pseudo class */
a.highlight:hover {
    background-color: #f8c175;
}

/* Styling of hero image section */
.hero-image-section {
    margin-left: 30px;
    margin-right: 30px;
}

/* Styling of hero image */
.hero-image {
    height: 600px;
    background: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling of hero-image-text*/
.hero-image > div {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 30px 30px;
}

.hero-image h2 {
    color: #523a28;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(248, 193, 117, .5);
    padding: 20px;
}

/* Styling of coffee and cake section */
.products {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.product-images div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    position: relative;
}

.product-images img {
    height: 500px;
    width: 500px;
    padding: 30px;
}

.cake, .coffee {
    position:absolute;
    letter-spacing: 2px;
    color: #523a28;
    background-color: #f8c175;
    font-size: 30px;
}

.cake {
    left: 100px;
    top: 100px;
}

.coffee {
    right: 90px;
    top: 100px;
}

.cake:hover {
    background-color: #73952e;
}

.coffee:hover {
    background-color: #73952e;
}
 
/* Styling of footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

footer div {
    text-align: center;
    width: 800px;
}

footer h2 {
    color: #f8c175;
    font-size: 50px;
    letter-spacing: 5px;
}

footer h3 {
    color: #73952e;
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

footer p {
    font-size: 10px;
}

.footer-links {
    color: #523a28;
    margin: 20px;
    font-size: 20px;
}

footer li {
    list-style-type: none;
    display: inline-block;
}

footer span {
    font-style: normal;
}